<script>
    var plot_json = {"layout":{"showlegend":false,"xaxis":{"title":"x"},"annotations":[{"y":-1,"text":"(2,-1)","x":2}],"margin":{"l":50,"b":50,"r":50,"t":60},"title":"Equations","yaxis":{"title":"y"}},"data":[{"mode":"lines","y":[-29,-25,-21,-17,-13,-9,-5,-1,3,7,11],"type":"scatter","x":[-5,-4,-3,-2,-1,0,1,2,3,4,5]},{"mode":"lines","y":[9.5,8.0,6.5,5.0,3.5,2.0,0.5,-1.0,-2.5,-4.0,-5.5],"type":"scatter","x":[-5,-4,-3,-2,-1,0,1,2,3,4,5]}]};
  var data = plot_json.data;
  var layout = plot_json.layout;
  Plotly.newPlot("plot2", data, layout);
  window.onresize = function() {
    Plotly.Plots.resize("plot2");
  };
</script>
